
{% macro attributes(attr) %}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block menu %}
    {% import _self as helpers %}
    <nav class="{{menu.class}}">
        <ul>
            {% for menuitem in menu %}
                <li class="{{ menuitem.classes|default('menuitem') }}{{ menuitem.children|length > 0 ? ' has-children' : '' }}">
                    {% set attr = menuitem.attributes|default([]) -%}
                    <a href="{{ menuitem.url }}" {{ helpers.attributes(attr) }}>{{ menuitem.name|trans }}</a>
                    {% if menuitem.children|length > 0 %}
                        {% include _self with {'menu' : menuitem.children}%}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %} 
